@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1c1022; 
}

::-webkit-scrollbar-thumb {
    background: #4c3b54; 
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a60df2; 
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.stroke-primary {
  -webkit-text-stroke: 0.7px #2E070F;
}